




{% extends "votacao/index.html" %}

{% block questao %}

 {% endblock %}



{% block filmes %}
{% endblock %}

{% block videos %}
        <br>
        <br>
        <head>
        <meta charset="UTF-8">
        <title>Title</title>
        {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static 'votacao/style.css' %}" />
        <link rel="icon" href="https://cdn.pixabay.com/photo/2016/02/23/17/29/banana-1218133_1280.png">
    </head>
    <body>

    <img src="{{ user.critico.imagem }}" alt="Avatar" class="avatar"/>
    <br>
    <br>
    <h2>username: {{user.username}} </h2>
        <h2>email: {{user.email}} </h2>

    <br>
    <br>
    <h2>Mudar Foto de perfil: </h2>
    <br>
     <form action="{% url 'votacao:mudarImagemPerfil' %}" enctype="multipart/form-data" method="POST">
         {% csrf_token %}
      <input type="file" name="myfile">
    <input type="submit" value="Submit">
         </form>
    <br>
    <br>
    <p><a href="{% url 'votacao:HomePage' %}"> Voltar ao inicio</a></p>
    </body>

{% endblock %}